.services{
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    .textContainer {

    }
    .titleContainer {
        .title {
            img{
                width: 300px;
                height: 100px;
                border-radius: 50px;
                object-fit: cover;
            }
        }
    }
    .listContainer {

    }
}