.test {
    max-width: 1330px;
    height: 100vh;
    text-decoration: none;
    position: relative;
    display: flex;
}
.box {
    display: flex;
    justify-content: space-around;
    max-width: 700px;
    height: 270px;
    background-color: antiquewhite;
}