.contact {
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    gap: 50px;

    .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;

        h1 {
            font-size: 100PX;
            line-height: 88PX;

        }

        span {
            font-weight: 300;
        }
    }

    .formContainer {
        flex: 1;
        position: relative;
        .phoneSvg {
            stroke: orange;
            position: absolute;
            shape-rendering: crispEdges;
            margin-top: -180px;
            margin-left: -80px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            input,textarea {
                padding: 20px;
                background-color: transparent;
                border: 1px solid white;
                color: white;
                border-radius: 5px;
            }
            button {
                padding: 20px;
                border: none;
                background-color: orange;
                cursor: pointer;
                font-weight: 500;
            }
        }
    }
}